/* line 1, ../sass/cardanimate.scss */
.container {
  perspective: 1000;
}

/* line 4, ../sass/cardanimate.scss */
.card {
  animation-duration: 4s;
  animation-name: cardEnter;
  transform-style: preserve-3d;
}

@keyframes cardEnter {
  /* line 10, ../sass/cardanimate.scss */
  0% {
    transform-origin: center;
    transform: translate(-500px, -1000px) rotate(-180deg) rotateY(-180deg);
  }

  /* line 14, ../sass/cardanimate.scss */
  50% {
    transform: rotateY(-180deg) rotate(6deg) translate(100px, 100px);
  }

  /* line 17, ../sass/cardanimate.scss */
  60% {
    transform: rotateY(-180deg) rotate(6deg) translate(100px, 100px);
  }
}

/* line 22, ../sass/cardanimate.scss */
.cardFront, .cardBack {
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  position: absolute;
}

/* line 31, ../sass/cardanimate.scss */
.cardFront {
  z-index: 2;
  transform: rotateY(0deg);
}

/* line 35, ../sass/cardanimate.scss */
.cardBack {
  transform: rotateY(180deg);
}
