/* line 7, ../sass/sass.scss */
body {
  background: #333;
}

/* line 11, ../sass/sass.scss */
.card {
  /*card itself*/
  margin-left: auto;
  margin-right: auto;
  background: #ddd6cd;
  background-image: url(../images/paper-texture.png);
  background-size: 100% 100%;
  box-shadow: 0px 0px 2px 1px #dddddd, -8px 10px 52px -10px rgba(0, 0, 0, 0.8);
  position: relative;
  /*media queries*/
  height: 133px;
  width: 233px;
  margin-top: 50px;
}
@media (min-width: 668px) and (max-width: 1023px) {
  /* line 11, ../sass/sass.scss */
  .card {
    height: 266px;
    width: 466px;
    margin-top: 100px;
  }
}
@media (min-width: 1024px) {
  /* line 11, ../sass/sass.scss */
  .card {
    height: 400px;
    width: 700px;
    margin-top: 150px;
  }
}

/*Text*/
/* line 40, ../sass/sass.scss */
.text {
  color: #111111;
  text-shadow: 0 1px 1px #fff,0 1px 2px #fff,0 2px 1px #fff;
  position: absolute;
  font-family: 'Vollkorn', serif;
  opacity: .9;
}

/* line 47, ../sass/sass.scss */
.title-text {
  left: 50%;
  top: 47%;
  transform: translate(-50%, -60%);
  /*media queries*/
  font-size: 15px;
}
@media (min-width: 668px) and (max-width: 1023px) {
  /* line 47, ../sass/sass.scss */
  .title-text {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  /* line 47, ../sass/sass.scss */
  .title-text {
    font-size: 45px;
  }
}

/* line 61, ../sass/sass.scss */
.small-text {
  font-size: 9px;
}
@media (min-width: 668px) and (max-width: 1023px) {
  /* line 61, ../sass/sass.scss */
  .small-text {
    font-size: 18px;
  }
}
@media (min-width: 1024px) {
  /* line 61, ../sass/sass.scss */
  .small-text {
    font-size: 27px;
  }
}

/* line 70, ../sass/sass.scss */
.upper-left {
  left: 6%;
  top: 6%;
  transform: translate(-10%, 0);
}

/* line 75, ../sass/sass.scss */
.upper-right {
  right: 6%;
  top: 6%;
  transform: translate(0%, 0);
}

/* line 80, ../sass/sass.scss */
.bottom {
  left: 50%;
  top: 85%;
  transform: translate(-50%, 0%);
}

/* line 85, ../sass/sass.scss */
.subtitle {
  left: 50%;
  top: 53%;
  transform: translate(-50%, 0%);
}

/* line 90, ../sass/sass.scss */
a {
  color: #111111;
  text-decoration: none;
}

/* line 94, ../sass/sass.scss */
a:visited {
  color: #111111;
  text-decoration: none;
}
