/* line 5, ../sass/sass.scss */
body {
  background: #333;
}

/* line 9, ../sass/sass.scss */
.card {
  /*card itself*/
  margin-left: auto;
  margin-right: auto;
  background: #e3dac9;
  background-image: url(../images/paper-texture.png);
  background-size: 100% 100%;
  -webkit-box-shadow: -8px 10px 52px -10px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: -8px 10px 52px -10px rgba(0, 0, 0, 0.8);
  box-shadow: -8px 10px 52px -10px rgba(0, 0, 0, 0.8);
  position: relative;
  /*media queries*/
  height: 133px;
  width: 233px;
  margin-top: 50px;
}
@media (min-width: 668px) and (max-width: 1023px) {
  /* line 9, ../sass/sass.scss */
  .card {
    height: 266px;
    width: 366px;
    margin-top: 100px;
  }
}
@media (min-width: 1024px) {
  /* line 9, ../sass/sass.scss */
  .card {
    height: 400px;
    width: 700px;
    margin-top: 150px;
  }
}

/*Text*/
/* line 40, ../sass/sass.scss */
.text {
  color: #222;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.75);
  position: absolute;
  font-family: 'EB Garamond', serif;
  opacity: .7;
}

/* line 47, ../sass/sass.scss */
.title-text {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  /*media queries*/
  font-size: 15px;
}
@media (min-width: 668px) and (max-width: 1023px) {
  /* line 47, ../sass/sass.scss */
  .title-text {
    font-size: 30px;
  }
}
@media (min-width: 1024px) {
  /* line 47, ../sass/sass.scss */
  .title-text {
    font-size: 45px;
  }
}
