// $bone: #EFDAC5;
$bone: #DDD6CD;
$fontcolor: #111;
$tablet: "(min-width: 668px) and (max-width: 1023px)";
$desktop: "(min-width: 1024px)";

body {
  background: #333;
}

.card {
  /*card itself*/
  margin-left:auto;
  margin-right:auto;
  background:$bone;
  background-image:url(../images/paper-texture.png);
  background-size: 100% 100%;
  box-shadow: 0px 0px 2px 1px #ddd, -8px 10px 52px -10px rgba(0,0,0,0.8);
  position:relative;

  /*media queries*/
  height:133px;
  width: 233px;
  margin-top:50px;

  @media #{$tablet} {
    height:266px;
    width: 466px;
    margin-top:100px;
  }
  @media #{$desktop} {
    height:400px;
    width: 700px;
    margin-top:150px;
  }
}

/*Text*/

.text{
  color: $fontcolor;
  text-shadow:0 1px 1px #fff,0 1px 2px #fff,0 2px 1px #fff;
  position:absolute;
  font-family: 'Vollkorn', serif;
  opacity:.9;
}
.title-text{
  left: 50%; 
  top: 47%;  
  transform: translate(-50%, -60%);

  /*media queries*/
  font-size: 15px;
  @media #{$tablet} {
    font-size: 30px;
  }
  @media #{$desktop} {
    font-size: 45px;
  }
}
.small-text{
  font-size:9px;
  @media #{$tablet} {
    font-size: 18px;
  }
  @media #{$desktop} {
    font-size: 27px;
  }
}
.upper-left{
  left:6%;
  top:6%;
  transform: translate(-10%,0);
}
.upper-right{
  right:6%;
  top:6%;
  transform: translate(0%,0);  
}
.bottom{
  left:50%;
  top:85%;
  transform: translate(-50%,0%);  
}
.subtitle{
  left:50%;
  top:53%;
  transform: translate(-50%,0%);  
}
a{
  color:$fontcolor;
  text-decoration: none;
}
a:visited{
  color:$fontcolor;
  text-decoration: none;
}