.card {
    animation-duration: 1.5s;
      -webkit-animation-duration: 1.5s;
        -moz-animation-duration: 1.5s;  
    animation-name: card;
      -webkit-animation-name: card;
        -moz-animation-name: card;
    -ms-transform: rotate(-6deg);
      -webkit-transform: rotate(-6deg);
        transform:rotate(-6deg);
}

@keyframes card {
  0% {
    -webkit-transform-origin: center;
      transform-origin: center;

    -ms-transform: translate(-500px,-1000px) rotate(180deg); 
      -webkit-transform: translate(-500px,1000px) rotate(180deg); 
        transform: translate(-500px,-1000px) rotate(180deg);
  }
  100% {
    -ms-transform: rotate(-6deg);
      -webkit-transform: rotate(-6deg);
        transform:rotate(-6deg);
  }
}